<div class="main">

  <div class="setup">
 
      <br>
      <b>
        <h3> Olá Jogador!</h3>
      </b>
      Considere a sua APOSTA 3 números distintos entre si, dentre 1 a 10.
      <br>
      O computador gerará uma série de resultados, até que vc seja sorteado.  
      <br>
      Por favor, faça a sua aposta! E veja quantas jogadas seriam necessárias para que vc vencesse!
  
  </div><br>

  <div class="choice">
    <div class="txt_choice">
      <h2>Escolha três números:</h2>
    </div>
    <br>
    <%= form_tag root_path, method: :get do %>
      <%= select_tag 'nums_array[]', options_for_select((1..10).to_a, ""), include_blank:true %>
      <%= select_tag 'nums_array[]', options_for_select((1..10).to_a, ""), include_blank:true %>
      <%= select_tag 'nums_array[]', options_for_select((1..10).to_a, ""), include_blank:true %>
      <%= submit_tag 'CONFIRMAR' %>
    <% end %>
  </div><br>
  
  
  <div class = "bet">
    <div class = "bet_txt">
    <h2>A sua aposta é:</h2>
    </div><br>
    <div class = "bet_number">
    <h2><%= @bet_player.sort.to_a %></h2>
    </div>
  </div><br>
  
  
    <div class = "prize">
      <div class = "prize_n_play">
        <h2>Você teria ganho na <%= @result_play %>ª jogada. 
          <% if @result_play.present? %> </h2>
        <% else %>
          
        <% end %>
      </div>
      <div class = "value_play">
        <h2> E Teria gasto <%=@result_play.nil? ? '' :@result_play*5%> reais.</h2>
      </div>
    </div><br>
  

  <div class = "results">
    <div class = "results_txt">
      <h2>Resultados:</h2>
    </div>
    <div class = "results_play">
      <% if @plays.present? %>
        <% @plays.each_with_index do |play, index| %>
          <%= play.sort.to_a %><br>
          <% if play == @bet_player %>
            <h3>Resultado encontrado na jogada <%= index + 1 %>!</h3>
            <% break %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
