<h1>Escolha três números:</h1>
<%= form_tag root_path, method: :get do %>
  <%= select_tag 'nums_aposta[]', options_for_select((1..10).to_a) %>
  <%= select_tag 'nums_aposta[]', options_for_select((1..10).to_a) %>
  <%= select_tag 'nums_aposta[]', options_for_select((1..10).to_a) %>
  <%= submit_tag 'Enviar' %>
<% end %>

<% if @aposta.present? %>
  <h2>A sua aposta é:</h2>
    <%= @aposta.join(",") %>
<% end %>

<br><br>
<h2> Os bilhetes premiados foram:</h2>
<%= @bilhete_premiado %>
