<h1>Escolha três números:</h1>
<%= form_tag root_path, method: :get do %>
  <%= select_tag 'nums_aposta[]', options_for_select((1..10).to_a) %>
  <%= select_tag 'nums_aposta[]', options_for_select((1..10).to_a) %>
  <%= select_tag 'nums_aposta[]', options_for_select((1..10).to_a) %>
  <%= submit_tag 'Enviar' %>
<% end %>

<% if @selected_numbers.present? %>
  <h2>A sua aposta é:</h2>
  
    <%= @selected_numbers.join(", ") %>

<% end %>
